################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/15eb3f60-6845-42d4-b657-4e8c7ef2a1ab.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/1cf1ce8c-358f-43a7-a97e-6c298e816f0a.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/2e08eb68-7e49-42a5-9052-cf3c194c81a9.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/62fc1e07-dc70-435e-823a-fba0489168a6.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/65d9ce62-6fd8-4ac3-9f62-d018600a9017.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/9b8e7df4-6bfe-4e73-b94c-6e192de68f1e.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/ac7d69f9-34cd-4e42-9965-5dcd97cfe426.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/ffd4fecf-0462-4a3d-bd65-9d4ccb072ed4.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/v17/.suo
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/v17/DocumentLayout.json
/Ex04.Menus.Events/.vs/Ex04.Menus.Events.csproj.dtbcache.json
/Ex04.Menus.Events/bin/Debug/Ex04.Menus.Events.dll
/Ex04.Menus.Events/bin/Debug/Ex04.Menus.Events.dll.config
/Ex04.Menus.Events/bin/Debug/Ex04.Menus.Events.pdb
/Ex04.Menus.Interfaces/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Ex04.Menus.Interfaces/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Ex04.Menus.Interfaces/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Ex04.Menus.Interfaces/obj/Debug/Ex04.Menus.Interfaces.csproj.CoreCompileInputs.cache
/Ex04.Menus.Interfaces/obj/Debug/Ex04.Menus.Interfaces.csproj.FileListAbsolute.txt
/Ex04.Menus.Interfaces/obj/Debug/Ex04.Menus.Interfaces.dll
/Ex04.Menus.Interfaces/obj/Debug/Ex04.Menus.Interfaces.pdb
/Ex04.Menus.Test/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Ex04.Menus.Test/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/Ex04.Menus.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Ex04.Menus.Test/obj/Debug/Ex04.Men.94AED04F.Up2Date
/Ex04.Menus.Test/obj/Debug/Ex04.Menus.Test.csproj.AssemblyReference.cache
/Ex04.Menus.Test/obj/Debug/Ex04.Menus.Test.csproj.CoreCompileInputs.cache
/Ex04.Menus.Test/obj/Debug/Ex04.Menus.Test.csproj.FileListAbsolute.txt
/Ex04.Menus.Test/obj/Debug/Ex04.Menus.Test.exe
/Ex04.Menus.Test/obj/Debug/Ex04.Menus.Test.pdb
/Ex04.Menus.Events/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/Ex04.Menus.Events/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Ex04.Menus.Events/obj/Debug/Ex04.Menus.Events.csproj.CoreCompileInputs.cache
/Ex04.Menus.Events/obj/Debug/Ex04.Menus.Events.csproj.FileListAbsolute.txt
/Ex04.Menus.Events/obj/Debug/Ex04.Menus.Events.dll
/Ex04.Menus.Events/obj/Debug/Ex04.Menus.Events.pdb
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/d125a094-3d0e-450a-8fa2-cd3d164a64ba.vsidx
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Events.dll
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Events.dll.config
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Events.pdb
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Interfaces.dll
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Interfaces.dll.config
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Interfaces.pdb
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Test.exe
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Test.exe.config
/Ex04.Menus.Test/bin/Debug/Ex04.Menus.Test.pdb
/Ex04.Menus.Interfaces/.vs/Ex04.Menus.Interfaces.csproj.dtbcache.json
/Ex04.Menus.Interfaces/bin/Debug/Ex04.Menus.Interfaces.dll
/Ex04.Menus.Interfaces/bin/Debug/Ex04.Menus.Interfaces.dll.config
/Ex04.Menus.Interfaces/bin/Debug/Ex04.Menus.Interfaces.pdb
/Ex04.Menus.Test/.vs/Ex04.Menus.Test.csproj.dtbcache.json
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/2c1eb885-fdf0-4102-a952-8b11f971229b.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/bcb2c78f-6f37-48b1-b783-a52bf40840a9.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/e0a777fd-2cf4-4887-a6a2-cb59ad9ad411.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/f66641e2-90cb-4988-8350-3a9d91ddc8ab.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/fdf0aede-da3a-4751-9d13-756170e5352f.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/19c280b7-88ad-4f0e-a466-549684009945.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/952eaa5e-b951-4487-b6bd-ad0a8fa0cff3.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/d9b7ce3c-3e67-4815-bfd7-23406ed00be6.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/9e932664-4aef-4575-a30c-776eccab72cf.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex/ab1757e7-fec2-4f62-aeb4-4a516673e0e3.vsidx
/.vs/B24 Ex04 Michal 206990723 Yehonatan 211398375/FileContentIndex
